body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link {
    text-decoration: none;
    color: #ffff;
}
.navbar-text {
display: block;
color: #ffff;
margin-bottom: 4px;
font-size: 14px;
line-height: 16px;
}
.navbar-contacts {
    text-align: right ;
}


.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #ffff;
}
.pipo {
    padding-top: 50px;
    padding-left: 70px;
    float: left;
}
.lolk {
    text-transform: uppercase;
    color: #635854;
    margin-bottom: 100px;


}
.colo {
    text-align: center;
    padding-top: 100px;
    
}
.gopa {
    margin-top: 140px;
    margin-left: 260px;
    width: 402px;
    height: 50px;
    background-color: #4a9ed6;
    color: #ffff;
}